<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ title }} - Lamer News</title>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
