{% extends 'layout.html.twig' %}

{% block content %}

<div id="login">
    <form name="f">
        <label for="username">username</label>
        <input type="text" id="username" name="username">

        <label for="password">password</label>
        <input type="password" id="password" name="password"/><br/>

        <input value="1" type="checkbox" id="register" name="register"/>create account<br/>
        <input type="submit" value="Log in" name="do_login"/>
    </form>
</div>

<div id="errormsg"></div>

<script>
    $(function() {
        $("form[name=f]").submit(login);
    });
</script>

{% endblock %}
