{% extends 'layout.html.twig' %}
{% from 'shared.html.twig' import render_news %}

{% block content %}

<h2>{{ title }}</h2>

<section id="newslist">
    {% for news in newslist %}
        {{ render_news(news) }}
    {% endfor %}
</section>

{% endblock %}
