{% extends 'layout.html.twig' %}

{% block content %}

<h2>Submit a new story</h2>

<div id="submitform">
    <form name="f">
        <input value="-1" type="hidden" name="news_id">

        <label for="title">title</label>
        <input type="text" size="80" id="title" name="title" value="{{ bm_title }}"><br>

        <label for="url">url</label><br/>
        <input type="text" size="60" id="url" name="url" value="{{ bm_url }}"><br>

        or if you don't have an url type some text<br>
        <label for="text">text</label>
        <textarea cols="60" id="text" name="text" rows="10"></textarea>

        <input value="Submit" type="button" name="do_submit">
    </form>
</div>

<div id="errormsg"></div>

<p>Submitting news is simpler using the <a href="javascript:window.location=%22{{ full_url(app.request, '/submit') }}?u=%22+encodeURIComponent(document.location)+%22&amp;t=%22+encodeURIComponent(document.title)">bookmarklet</a> (drag the link to your browser toolbar)</p>

<script>
    $(function() {
        $("input[name=do_submit]").click(submit);
    });
</script>

{% endblock %}
